<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .ridge {
            outline-style: ridge;
            }
            .dotted {
            outline-style: dotted; /* same result as "outline: dotted" */
}
    </style>

    <title>Cruso Angular</title>
</head>
<body>

    
    <div class="dotted">
        <section><app-Heroe></app-Heroe></section>  
    </div>

    <br>
    <br>

    <div class="dotted">
        <section><Contador-App></Contador-App></section>
    </div>

    <br>
    <br>

    <div class="dotted">    
        <section><app-listado></app-listado></section>
    </div>
    <br>
    <br>

    

</body>
</html>